In [1]:
import pandas as pd
file= pd.read_csv("sales_data_sample.csv")
file.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME
0,10107,30,95.70,2,2871.00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.
1,10121,34,81.35,5,2765.90,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables
2,10134,41,94.74,2,3884.34,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers
3,10145,45,83.26,6,3746.70,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com
4,10159,49,100.00,14,5205.27,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.

In [2]:
file.groupby(by = "CUSTOMERNAME")['SALES'].sum().head(5)

CUSTOMERNAME
AV Stores, Co.             157807.81
Alpha Cognac                70488.44
Amica Models & Co.          94117.26
Anna's Decorations, Ltd    153996.13
Atelier graphique           24179.96
Name: SALES, dtype: float64

In [15]:
file.groupby(by = ["YEAR_ID", "PRODUCTLINE"])["SALES"].sum()

YEAR_ID  PRODUCTLINE
2003     Classic Cars        1484785.29
         Motorcycles          370895.58
         Planes               272257.60
         Ships                244821.09
         Trains                72802.29
         Trucks and Buses     420429.93
         Vintage Cars         650987.76
2004     Classic Cars        1762257.09
         Motorcycles          560545.23
         Planes               502671.80
         Ships                341437.97
         Trains               116523.85
         Trucks and Buses     529302.89
         Vintage Cars         911423.77
2005     Classic Cars         672573.28
         Motorcycles          234947.53
         Planes               200074.17
         Ships                128178.07
         Trains                36917.33
         Trucks and Buses     178057.02
         Vintage Cars         340739.31
Name: SALES, dtype: float64